.customer {
  width: 80%;
  margin: 0 auto;
  margin-top: 50px;
}

.customer__button {
  margin-bottom: 15px !important;
}

.modalCustomer {
  animation: fadeInDownBig;
  animation-duration: 800ms;
}

.modalCustomeClose {
  animation: backOutUp;
  animation-duration: 800ms;
}
